*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}
header{
    background-color: #d2d9e0;
    text-align: center;
    padding: 10px 5px ;
}
nav{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.div{
    border: rgb(180, 176, 176) solid 2px;
    margin: 0 5px;
    width: 500px;
}

h2{
    padding: 10px 10px;
}
p{
    padding: 10px 10px;
}
a {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
  }
  
  ul{
    list-style-type: none;
}
li{
    display: inline;
    padding: 0 10px;
}
img{
    width: 100%;
    height: auto;

}